<!-- <div class="container">
    <div class="profileCard">
        <div class="row">
            <div class="col-md-6">First name</div>
            <div class="col-md-6"></div>
            {{firstName}} {{lastName}} {{mailId}} {{phoneNumber}}
        </div>

    </div>


</div> -->
<div class="card">
    <!-- <img src="" alt="John" style="width:100%"> -->

    <div class="close" (click)="back()"><i type="button" class="close bi bi-x-square-fill"></i></div>
    <div id="profileImage">{{profileLetter}}</div>
    <h1>{{lastName}} {{firstName}}</h1>
    <p class="title">{{mailId}}</p>
    <p>{{phoneNumber}}</p>
    <p tooltip={{manager}} theme="light" openDelay="30" closeDelay="50" placement="bottom">{{role}}</p>
    <!-- <p tooltip="hey" placement="bottom">Hello</p> -->
    <div style="margin: 20px 0;">
        <a><i class="fa fa-dribbble"></i></a>
        <a><i class="fa fa-twitter"></i></a>
        <a><i class="fa fa-linkedin"></i></a>
        <a><i class="fa fa-facebook"></i></a>
    </div>
    <p><button (click)=editProfile()>Edit Profile <i class="bi bi-pencil-square"></i></button></p>
</div>