/* You can add global styles to this file, and also import other style files */


/* Provide sufficient contrast against white background */

a {
    color: #0366d6;
}

code {
    color: #e01a76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*font-family: Copperplate, Papyrus, fantasy;*/
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.loading {
    margin-left: 46%;
    margin-top: 20%;
    color: rgb(16, 16, 65);
}

.loading1 {
    margin-left: 47.3%;
    color: rgb(16, 16, 65);
}

.fa-spin.spin-reverse {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    animation-direction: reverse;
    color: rgb(16, 16, 65);
}